<!-- Temiloluwa Olufore 1970625 -->
<%- include('../partials/head')-%>

<html>
  <head>
    <title>Update Floor</title>
  </head>
  <body>
    <%- include('../partials/header')-%>
    <main>
      <h3 class="h3tablez">UPDATE FLOOR NAME</h3>
      <div class="page-view">
        <form
          id="updateFloor"
          class="add-form"
          method="POST"
          action="/api/floor/<%= parseInt(floorlevel) %>?_method=PUT">
          <input
            type="hidden"
            name="_method"
            value="PUT" />
          <div class="mb-3">
            <label
              for="floorlevel"
              class="form-label"
              >Select Floor Level:</label
            >
            <select
              class="form-select"
              id="floorlevel"
              name="floorlevel"
              required>
              <option
                value=""
                disabled
                selected></option>
              <% const sortedFloordata = floordata.sort((a, b) => a.level -
              b.level); %> <% sortedFloordata.forEach(floor => { %>
              <option value="<%= parseInt(floor.level) %>">
                <p>Level <%= floor.level %>: <%= floor.name %></p>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="mb-3">
            <label
              for="name"
              class="form-label"
              >New Floor Name:</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              required />
          </div>
          <div class="button-container">
            <button
              type="submit"
              class="btn btn-primary">
              UPDATE FLOOR
            </button>
            <a
              href="/floor/view"
              class="btn btn-primary"
              >View Floors</a
            >
            <a
              href="/floor/add"
              class="btn btn-primary"
              >Add Floors</a
            >
            <a
              href="/floor/delete"
              class="btn btn-primary"
              >Delete Floors</a
            >
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
